@media (max-width: 767px){
    .product-inner-div-item,
    .adonis-image-row-grid{
        grid-template-columns: auto;
    }
    .programm-activity-content-row1,
    .gym-ado-fitness-inst-image-row-1{
        flex-direction: column;
    }
    .gym-ado-fitness-inst-image-row-1-col-1-add-new img{
        width: 100%;
    }
    .contact-section-row-1{
        flex-direction: column;
    }
    .contact-section-row-1-col-1,
    .contact-section-row-1-col-2{
        width: 100%;
    }
    .contact-heading-section{
        width: 100%;
    }
    .contact-heading-section h4,
    .contact-heading-section h1,
    .contact-heading-section p{
        text-align: left;
        margin-left: 0px;
        padding: 0px;
    }
    .contact-area-rating-section,
    .contact-media{
        margin-left: 0px;
        width: 100%;
        padding: 0px;
    }
    .contact-section-row-1-col-1{
        padding: 15px;
    }
    .contact-section-row-1-col-2-form-section{
        width: 100%;
        margin: 0px;
    }
    .contact-section-row-1-col-2{
        padding: 15px;
    }
    .footer-row{
        flex-direction: column;
    }
    .programm-activity-content-row1{
        width: 100%;
    }
    .programm-activity-content-row1-col1,
    .programm-activity-content-row1-col2{
        width: 100%;
    }
    .programm-activity-content{
        width: 100%;
        padding: 15px;
    }
    .body-title{
        width:100%;
    }
    .body-title-image{
        width:100%;
    }
    .navbar-ado-home{
        width: 100%;
    }
    .footer-container-row-col-2{
        width: 100%;
        background-color: black;

    }
    .footer-container-row-col-3{
        background-color: black;
        width: 100%;
    }
    .social-ado-link{
        background-color:black;
        border: none;
    }
    .social-adonis{

    }
    .footer-middle-container{
        display: flex;
        /* flex-direction: column; */
        background-color: black;
    }
    .footer-last-container{
        padding: 40px;
        width: 100%;
    }
    .footer-last-container{
        
    }
    .related-search{
        padding: 0px;
    }
    .navbar-ado-home{
        display: flex;
        flex-direction: column;
    }
    .registration-window{
        width: 100%;
        margin-left: 0px;
    }
    .registration-body{
        width: 100%;
    }
    #reg-form-btn{
        margin-left: 0px;
        
    }
    .reg-name-container-check{
        margin-bottom: 30px;

        
    }
    .reg-element-area{
margin-left: 0px;
    }
}
